<div class="row">
  <aside class="col-md-4">
<%= render 'profile_left' %>
  </aside>
  <div class="col-md-8">
    <% if @followers.any? %>
      <h3>フォローされている人は <%= @followers.count %>人です</h3>
      <ol class="microposts">
        <% @followers.each do |follower| %>
          <%= render partial: 'shared/follower_list', locals: { follower: follower } %>
        <% end %>
      </ol>
      <%= will_paginate @followers, :renderer => BootstrapPagination::Rails %>
    <% end %>  
  </div>
</div>


