<div class="row">
  <aside class="col-md-4">
<%= render 'profile_left' %>
    
  </aside>
  <div class="col-md-8">
    <% if @followings.any? %>
      <h3>フォローしている人は <%= @followings.count %>人です</h3>
      <ol class="microposts">
        <% @followings.each do |following| %>
          <%= render partial: 'shared/following_list', locals: { following: following } %>
        <% end %>
      </ol> 
      <%= will_paginate @followings, :renderer => BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>


